<mat-toolbar color="basic" class="mat-elevation-z8">
  <span><mat-icon>eco</mat-icon> Establecimiento <app-establecimiento-actual></app-establecimiento-actual></span>



  <div class="spacer"></div>
  <a mat-button color="primary" routerLink="/Home" >Home</a>
  <a mat-button color="primary" routerLink="/Grilla" >Grilla</a>
  <a mat-button color="primary" routerLink="/LogIn" >LogIn</a>
  <a mat-button color="primary" routerLink="/LogUp" >LogUp</a>
  <a mat-button color="primary" routerLink="/Establecimiento" >Establecimiento</a>
  <a mat-button color="primary" routerLink="/Vehiculo" >Alta de Vehiculo</a>
 <app-boton-log-out></app-boton-log-out>

</mat-toolbar>



<router-outlet></router-outlet>




